@{
    ViewData["Title"] = "Education";
}
<h1>@ViewData["Title"]</h1>
<br />


<div class="container px-4">

    @*Program Training*@
    <div class="row justify-content-start gx-5">
        <div class="align-self-start">
            <h2 class="display-5">Program Training</h2>
        </div>
    </div>

    <div class="row justify-content-start gx-5">
        <div class="align-self-start">
            <ul class="list-unstyled">
                @*Bootcamp*@
                <br />
                <li><strong>Bootcamp Prep Program</strong>  / App Academy (2020)</li>
                <li><small>July 2020 - August 2020,  ONLINE</small></li>
            </ul>
        </div>
    </div>
    <br />

    @*College*@
    <div class="row justify-content-start gx-5">
        <div class="align-self-start">
            <h2 class="display-5">College</h2>
        </div>
    </div>

    <div class="row justify-content-start gx-5">
        <div class="align-self-start">
            <ul class="list-unstyled">
                @*Northwest Vista College*@
                <br />
                <li><strong>Northwest Vista College</strong> / Candidate for BA in Computer Science</li>
                <li><small>August 2019 - August 2020,  SAN ANTONIO</small></li>
                <br />

                @*Grinnell*@
                <li><strong>Grinnell College</strong> / Credits in Biochemistry</li>
                <li><small>August 2012 - May 2013,  GRINNELL</small></li>
                <br />

            </ul>
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container px-4">
                    <div class="row justify-content-start gx-5">
                        <div class="align-self-start">
                            <h2 class="display-5"><strong>Contact Information</strong></h2>
                            <br />
                            <p class="text-primary">210.705.9596<br />ialexgarza4@gmail.com</p>
                            <p>Chicago, Illinios</p>
                        </div>
                    </div>
                </div>
                <br />
                <br />
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Email Address</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Message</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
