@model HomeViewModel
@*Here I specify what type of model is used for this view*@

@*Full Name*@
<div class="container px-4">
    <div class="row justify-content-start gx-5">
        <div class="align-self-start">
            <h5 class="display-10">@Model.Fullname</h5> @**@
        </div>
        <br />
        <br />
    </div>
</div>
<br />
<br />
<br />
<br />

<div class="container">
    <div class="row">
        <div class="col">
            <div class="container px-4">
                <div class="row justify-content-start gx-5">
                    @*Professional Title*@
                    <div class="align-self-start">
                        <h2 class="display-5"><p class="text-primary">@Model.Title</p></h2> @**@
                    </div>
                    <br />
                    <br />

                    @*Summary*@
                    <div class="align-self-start">
                        <br />
                        <p>
                            Results-oriented, dedicated, and personable customer service specialist looking to transition into a career in web development.
                            Prior professional experience in web development quality assurance as well as academic credits in JavaScript and C++.
                            Strong work ethic with an ability to perform efficiently and succeed in time-sensitive assignments and demanding environments.
                        </p>
                    </div>
                    <br />
                    <br />
                    <br />


                    <div class="container px-4">
                        <div class="row justify-content-start gx-5">
                            @*Email Link*@
                            <div class="align-self-start">
                                <button type="button" class="btn btn-primary"><a href="ialexgarza@icloud.com" class="text-white">Email Me</a></button>
                            </div>
                            <br />
                            <br />

                            @*Social Links*@
                            <div class="row align-items-end">
                                <br />
                                <br />
                                <div class="col">
                                    <button type="button" class="btn btn-outline-primary bt-lg"><a href="https://www.facebook.com/ialexgarza/">Facebook</a></button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-outline-primary bt-lg"><a href="https://www.instagram.com/ialexgarza/">Instagram</a></button>
                                </div>
                                <div class="col">
                                    <button type="button" class="btn btn-outline-primary bt-lg"><a href="https://twitter.com/ialexgarza">Twitter</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <br />
            <br />
        </div>
        <div class="col">
            <div class="text-center">
                @*Personal Image*@
                <img src="http://placeimg.com/640/480/people" class="img-thumbnail">
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>
</div>
<br />
<br />


